<p id="notice"><%= notice %></p>

<div class="container">
<h1>Listing Surveys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @single_surveys.each do |single_survey| %>
      <tr>
        <td><%= single_survey.name %></td>
        <td><%= link_to 'Show', single_survey %></td>
        <td><%= link_to 'Edit', edit_single_survey_path(single_survey) %></td>
        <td><%= link_to 'Destroy', single_survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>Click on link below to add a new survey.<p>

<%= link_to 'New Survey', new_single_survey_path %>


</div>
